:root {
    --light-color: #fce3e7;
    --dark-color: #272727;
    --red-color: crimson;
}

html {
    overflow-x: hidden;
}

.nav {
    min-height: 10vh;
    max-height: 10vh;
    width: 100%;
    background: rgba(39, 39, 39, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    max-width: 110px;
}

.nav .logo img {
    max-width: 100%;
}

.nav-link {
    width: 30%;
}

.nav-link li a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(220, 20, 60, 0);
    padding: 5px 20px 5px 0;
    transition: all .4s ease-in-out;
    text-align: center;
}

.nav-link li a.active {
    border-bottom: 2px solid rgba(220, 20, 60, 1);
}

.nav-link li a:hover {
    border-bottom: 2px solid rgba(220, 20, 60, 1);
}

.burger {
    cursor: pointer;
    height: 20px;
    width: 25px;    
    display: none;
    margin-right: 1.5rem;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: var(--light-color);
    position: relative;
    margin: 4px 0;
    cursor: pointer;
    transition: all .7s ease;
}

.burger div:nth-child(3) {
    width: 18px;
}


@media screen and (max-width: 1200px) {
    .nav-link {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .nav-link {
        position: absolute;
        display: flex;
        top: 10vh;
        flex-direction: column;
        height: 90vh;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background: #272727;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
    }

    .nav-link li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .toggle div {
        transform: rotate(720deg);
    }
    .toggle div:nth-child(2) {
        background: transparent;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-active li {
        position: relative;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            left: -50vw;
        }
        to {
            opacity: 1;
            left: 0;
        }
    }
}